/* document styles */

html body {
	font-family: "Georgia", "New Century Schoolbook", serif;
	background-color: gainsboro;
	color: black;
	font-size: 18px;
}

nav > a {
    padding-left: 1em;
}

a {
	color: midnightblue;
}

/* header styles */

article {
    border-width: 1px;
    border-style: solid;
    border-color: midnightblue;
    background-color: white;
    color: black;
    margin: 2em;
    padding: 1em;
}

img {
    max-width: 300px;
}
