/* document styles */

html body {
	font-family: "Georgia", "New Century Schoolbook", serif;
	background-color: gainsboro;
	color: black;
	font-size: 18px;
	width: 120vh;
	max-width: 100vw;
	margin: auto;
}

article {
    background-color: white;
    border-style: inset;
    margin: 0.5em;
    padding: 0.5em;
}

dl.bold > dt {
    font-weight: bold;
}

dl.bold > dd {
    margin-bottom: 0.5em;
}

a {
	color: midnightblue;
}

img {
    max-width: 300px;
}
