  <address>
    <p>Andrew Fargo</p>
    <a href="mailto:fargodre@grinnell.edu">fargodre@grinnell.edu</a>
    <p>
      1115 8th Ave.<br>
      Box #3407<br>
      Grinnell, IA 50112<br>
      USA
    </p>
  </address>