/* home page specific styles */

header {
    margin-top: 10vh;
    text-align: center;
}

header > img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
}

header > p {
    
}

html body {
    margin-left: auto;
    margin-right: auto;
}


