/* home page specific styles */

hgroup {
    border-width: 1px;
    border-style: solid;
    border-color: midnightblue;
    background-color: white;
    color: black;
    margin: 2em;
}

hgroup > * {
    margin: 0;
    padding-left: 0.5em;
}

hgroup > h2 {
    background-color: midnightblue;
    color: white;
}

hgroup > ul {
    padding-left: 1.5em;
}

header {
    text-align: center;
}

header > img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
}

header > p {
    
}

html body {
    max-width: 100%;
    width: 100vh;
    margin-left: auto;
    margin-right: auto;
}

main {
    margin-top: 10vh;
}
