/* document styles */

html body {
	padding: 0;
	margin: 0;
	font-family: "Georgia", "New Century Schoolbook", serif;
	background-color: gainsboro;
	color: black;
	border-color: midnightblue;
	font-size: 18px;
}

a {
	color: midnightblue;
}

/* header styles */

body > nav {
	background-color: midnightblue;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

body > nav > a {
	display: block;
	float: left;
	color: white;
	padding-left: 1em;
}

body > nav > p {
	display: block;
	float: right;
	color: white;
}

/* address styles */

address {
    padding: 1em
}


aside {
    margin: 1em;
    float: left;
    width: 30vh;
    max-width: 100%;
}

main {
    margin: auto;
    clear: none;
    width: 100vh;
    max-width: 100%;
}

/* if on mobile, don't collide the navigation */
@media screen and (max-width: 1000px) {
  main {
      clear: left;
  }
}

article {
    border-width: 1px;
    border-style: solid;
    border-color: midnightblue;
    background-color: white;
    color: black;
    margin: 2em;
    padding: 1em;
}

article > ul {
    padding-left: 1.5em;
}

figure > img {
    width: 300px;
}
