/* document styles */

html body {
	padding: 0;
	margin: 0;
	font-family: "Georgia", "New Century Schoolbook", serif;
	background-color: lavender;
	color: black;
	border-color: midnightblue;
	font-size: 18px;
}

/* header styles */

nav {
	background-color: midnightblue;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

nav > a {
	display: block;
	float: left;
	color: white;
	padding-right: 1em;
}

nav > p {
	display: block;
	float: right;
	color: white;
}

a {
	color: midnightblue;
}










